Repository MauGx3/fiap-pt-fsdt: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-backend, eslint-frontend

eslint-backend:
  name: eslint backend
  entry: bash
  args:
  - -c
  - cd tech_challenge1/backend && npm run lint -- --fix
  language: system
  pass_filenames: false

eslint-frontend:
  name: eslint frontend
  entry: bash
  args:
  - -c
  - cd tech_challenge1/frontend && npm run lint -- --fix
  language: system
  pass_filenames: false

feat: refactor pre-commit configuration to use centralized eslint setup and remove local hooks
  .pre-commit-config.yaml
Due: none

feat: update pre-commit configuration to separate eslint hooks for backend and frontend
  .pre-commit-config.yaml
Due: none

feat: add eslint to dependencies
  tech_challenge1/frontend/package-lock.json
Due: none

Update README for clarity on environment variables
  README.md
Due: none

feat: enhance Dockerfile for development environment and add Jest configuration
  compose.debug.yaml
  tech_challenge1/backend/Dockerfile
  tech_challenge1/backend/jest.config.cjs
  tech_challenge1/backend/middleware/rateLimit.js
  tech_challenge1/backend/tests/setup.js
  tech_challenge1/backend/tests/testApp.js
Due: eslint-backend

fix(postsAPI): correct search parameter name in API call
  tech_challenge1/frontend/src/api/index.ts
Due: eslint-frontend

fix: correct JSON syntax error in lint-staged configuration
  package.json
Due: none

feat: add delete functionality for posts and update error handling in Main component
  tech_challenge1/frontend/src/components/main/Main.module.css
  tech_challenge1/frontend/src/components/main/Main.tsx
  tech_challenge1/frontend/src/tests/components/Main.test.tsx
Due: eslint-frontend

feat: implement authentication flow with login and registration components, enhance header with user info, and protect routes based on authentication status
  tech_challenge1/frontend/package-lock.json
  tech_challenge1/frontend/package.json
  tech_challenge1/frontend/src/App.tsx
  tech_challenge1/frontend/src/components/auth/Auth.module.css
  tech_challenge1/frontend/src/components/auth/Login.tsx
  tech_challenge1/frontend/src/components/auth/Register.tsx
  tech_challenge1/frontend/src/components/header/Header.module.css
  tech_challenge1/frontend/src/components/header/Header.tsx
  tech_challenge1/frontend/src/components/main/Main.tsx
  tech_challenge1/frontend/src/contexts/AuthContext.tsx
  tech_challenge1/frontend/src/tests/components/Header.test.tsx
  tech_challenge1/frontend/src/tests/components/Main.test.tsx
Due: eslint-frontend

style: format and clean up CSS and TypeScript files for consistency
  tech_challenge1/frontend/src/components/auth/Auth.module.css
  tech_challenge1/frontend/src/components/auth/Login.tsx
  tech_challenge1/frontend/src/components/auth/Register.tsx
  tech_challenge1/frontend/src/contexts/AuthContext.tsx
Due: eslint-frontend

feat(posts): add tags support to posts and enhance author information retrieval
  tech_challenge1/backend/models/Post.js
  tech_challenge1/backend/postsController.js
  tech_challenge1/frontend/src/api/index.ts
  tech_challenge1/frontend/src/tests/api/index.test.ts
Due: eslint-backend, eslint-frontend

style: remove unnecessary whitespace in Post and postsController files
  tech_challenge1/backend/models/Post.js
  tech_challenge1/backend/postsController.js
Due: eslint-backend

feat: implement CSS variables for theming and improve styling consistency across components
  tech_challenge1/frontend/src/App.tsx
  tech_challenge1/frontend/src/components/ErrorPage.module.css
  tech_challenge1/frontend/src/components/footer/Footer.module.css
  tech_challenge1/frontend/src/components/header/Header.module.css
  tech_challenge1/frontend/src/components/main/Main.module.css
  tech_challenge1/frontend/src/components/userProfile/UserProfile.module.css
Due: eslint-frontend

style: format Footer.module.css for consistency and readability
  tech_challenge1/frontend/src/components/footer/Footer.module.css
Due: none

feat: add entry to .gitignore
  .gitignore
Due: none

docs: clarify styling rules and allow CSS Modules exceptions in copilot instructions
  .github/copilot-instructions.md
Due: none

chore(style): migrate LoadingSpinner to styled-components
  tech_challenge1/frontend/src/components/LoadingSpinner.tsx
Due: eslint-frontend

chore(style): migrate Footer to styled-components
  tech_challenge1/frontend/src/components/footer/Footer.tsx
Due: eslint-frontend

feat(posts): enhance post retrieval with author names and sorting
  tech_challenge1/backend/postsController.js
Due: eslint-backend

feat(api): integrate Swagger UI for API documentation in development
  .github/prompts/front-end.md
  .github/workflows/openapi-validate.yml
  tech_challenge1/backend/OPENAPI_README.md
  tech_challenge1/backend/index.js
  tech_challenge1/backend/openapi.yaml
  tech_challenge1/backend/package.json
Due: eslint-backend

feat(api): add authentication endpoints for logout, verify, and refresh token
  tech_challenge1/backend/openapi.yaml
Due: none

feat(docker): implement multi-stage Dockerfile and add .dockerignore
  .dockerignore
  tech_challenge1/backend/DOCKER_README.md
  tech_challenge1/backend/Dockerfile
  tech_challenge1/backend/index.js
Due: eslint-backend

feat: enable Swagger UI in production with environment variable
  .gitignore
  categories.txt
  compose.debug.yaml
  compose.yaml
  example.env
  package-lock.json
  tech_challenge1/backend/DOCKER_README.md
  tech_challenge1/backend/index.js
  tech_challenge1/backend/package.json
  tech_challenge1/frontend/nginx.conf
  tech_challenge1/frontend/src/components/footer/Footer.tsx
  tech_challenge1/frontend/src/tests/components/Footer.test.tsx
Due: eslint-backend, eslint-frontend

feat: refactor header and theme toggle functionality
  .serena/.gitignore
  .serena/project.yml
  tech_challenge1/frontend/src/App.css
  tech_challenge1/frontend/src/App.tsx
  tech_challenge1/frontend/src/components/header/Header.module.css
  tech_challenge1/frontend/src/components/header/Header.tsx
  tech_challenge1/frontend/src/contexts/AuthContext.tsx
  tech_challenge1/frontend/src/tests/App.test.tsx
  tech_challenge1/frontend/src/tests/components/Header.test.tsx
Due: eslint-frontend

fix: update Swagger UI proxy path in nginx configuration and remove unnecessary whitespace in header CSS
  tech_challenge1/frontend/nginx.conf
  tech_challenge1/frontend/src/components/header/Header.module.css
Due: none

feat: override Content Security Policy for Swagger UI to allow necessary resources
  tech_challenge1/frontend/nginx.conf
Due: none

Refactor code structure for improved readability and maintainability
  .playwright-mcp/docs-blank-screenshot.png
  .playwright-mcp/header-desktop-after-fix.png
  .playwright-mcp/header-mobile-after-fix.png
  .playwright-mcp/header-overflow-check.png
  tech_challenge1/frontend/nginx.conf
  tech_challenge1/frontend/src/components/header/Header.module.css
Due: none

style: clean up CSS comments for consistency and readability
  tech_challenge1/frontend/src/components/header/Header.module.css
Due: none

feat: replace authAPI with useAuth context for login functionality
  tech_challenge1/frontend/src/components/auth/Login.tsx
Due: eslint-frontend

fix: ensure newline at end of file in posts route
  tech_challenge1/backend/routes/posts.js
Due: eslint-backend

Path conditions:
  eslint-backend: any of: tech_challenge1/backend/.*\.(js)$
  eslint-frontend: any of: tech_challenge1/frontend/.*\.(ts|tsx)$
